.row {
    max-width: $grid-width;
    margin: 0 auto;
    
    @include respond(tab-port) {
        max-width: $grid-width-small;
        padding: 0 3rem;
    }

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small;
        }
    }

    @include clearfix;

    $columns: 12;

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }
    }

    @for $i from 1 through $columns {
        @for $j from 1 through $i {
            .col-#{$j}-of-#{$i} {
                width: calc((#{$j} - 1) * #{$gutter-horizontal} + #{$j} * (100% - (#{$i} - 1) * #{$gutter-horizontal}) / #{$i});
            
                @include respond(tab-port) {
                    width: 100% !important;
                }
            }
        }
        
    }
}